{% extends 'Portfolio/layout.html' %}

{% block title %}Sobre Mim{% endblock %}

{% block content %}
<section class="about">
    <div class="container">
        <h2>Olá, sou o Rodrigo Vale</h2>
        <p>Sou um aluno de segundo ano de engenharia informática</p>
        <div class="about-sections">
            <div class="section hobbies">
                <h3>Hobbies</h3>
                <p>Jogar computador</p>
                <p>Ginásio</p>
                <p>Basketball</p>
            </div>
            <div class="section education">
                <h3>Educação</h3>
                <p>Estudei na Escola Secundária Gago Coutinho onde tirei o curso de Ciências e Tecnologias. Estou neste momento a tirar uma licenciatura de engenharia informática na Universidade Lusófona de Lisboa</p>
            </div>
            <div class="section skills">
                <h3>Competências</h3>
                <p>Aqui você pode listar suas competências, como linguagens de programação que domina, ferramentas que sabe usar, etc.</p>
            </div>
            <div class="section languages">
                <h3>Línguas</h3>
                <p>Português: nível C2</p>
                <p>Inglês: nível C2</p>
                <p>Espanhol: nível A2</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
