<!-- templates/Portfolio/contacto.html -->
{% extends 'Portfolio/layout.html' %}

{% block title %}Contato{% endblock %}

{% block content %}
<section class="contact">
    <div class="container contact-container">
        <h2>Entre em Contato</h2>
        <div class="contact-info">
            <span><strong>Telefone:</strong> +351 966 855 632</span>
            <span><p><strong>Email:</strong> rodrigo.silva.vale@gmail.com</p></span>
            <p><strong>Endereço:</strong> Rua, 123, Cidade, País</p>
            <p><strong></strong> <a href="https://www.linkedin.com/in/rodrigo-vale-5b6b692bb/" target="_blank">Linkedin</a></p>
            <p><strong></strong> <a href=https://www.instagram.com/_rodrigovale_/" target="_blank">instagram</a></p>
        </div>
    </div>
</section>
{% endblock %}