{% extends 'bandas/layout.html' %}

{% block content %}
<body class = "banda">
</body>
    <h3>Edita Album</h3>

    <form action="{% url 'bandas:edita_album' album.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar">
    </form>

    <a href="{% url 'bandas:index' %}">
      <button>Cancelar</button>
    </a>

    <a href="{% url 'bandas:apaga_album' album.id %}">
      <button>Apagar Album</button>
    </a>

{% endblock %}