<!-- templates/meteo/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meteorologia Portuguesa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meteo/styles.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-title">MetPortugal</div>
            <nav>
                <ul>
                    <li><a href="{% url 'meteo:index' %}">Início</a></li>
                    <li><a href="{% url 'meteo:cities' %}">Cidades</a></li>
                    <li><a href="{% url 'meteo:api_cities' %}">APIs</a></li>
                </ul>
            </nav>
        </div>
        <div class="hero">
            <h1>Meteorologia em Portugal</h1>
            <h2>Selecione uma Cidade para a Previsão do Tempo</h2>
            <form action="{% url 'meteo:weather_forecast' %}" method="get">
                <label for="city">Cidade:</label>
                <select name="city" id="city">
                    {% for city in cities %}
                        <option value="{{ city.local }}">{{ city.local }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Ver Previsão</button>
            </form>
        </div>
    </header>
    <main>
    </main>
</body>
</html>