<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>

</head>
<body>
    <header>
        <h1>User</h1>
    </header>

    <main>
         <h3>Bem-vindo, {{request.user.first_name}} {{request.user.last_name}}</h3>

        <ul>
            <li>Username: {{request.user.username}}</li>
            <li>Email: {{request.user.email}}</li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>
</body>
</html>