/* static/meteo/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
}

.logo {
    height: 40px;
}

.navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar nav {
    margin-left: auto;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background: url('{% static 'meteo/background.jpg' %}') no-repeat center center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero h2 {
    margin-top: 20px;
}

form {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 10px;
    border-radius: 5px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #333;
}

select {
    font-size: 1.2em;
    padding: 5px;
    margin-right: 10px;
}

button {
    font-size: 1.2em;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
    text-align: center;
    width: 100%;
}

h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    margin: 5px 0;
}
.forecast-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem ao espaço disponível */
    gap: 20px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

.forecast-item {
    flex: 1 1 200px; /* Permite que os itens cresçam e encolham com uma largura mínima de 200px */
    border: 1px solid #ccc; /* Adiciona uma borda aos itens */
    padding: 10px; /* Adiciona preenchimento dentro dos itens */
    text-align: center; /* Centraliza o texto dentro dos itens */
    background: #fff; /* Define o fundo dos itens */
    border-radius: 5px; /* Adiciona bordas arredondadas aos itens */
}

.forecast-item img {
    width: 80px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
