<!DOCTYPE html>
<html>
    <head>
        <title>Artigos</title>
        <style>
            body {
                background: space green;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Artigos</h1>
        </header>

        <main>
            {% block content %}
            {% endblock %}
            <a href="https://a22203479.pythonanywhere.com">voltar portfolio</a>
        </main>

        <footer>
            <p>Universidade Lusófona</p>
        </footer>
    </body>
</html>
